* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.container {
    background-color: tomato;
    height: 100vh;
    width: 100%;

    display:flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    .list, .pkm {
        width:30%;
        aspect-ratio: 3/4;

        background-color: whitesmoke;
        border-radius: 1rem;
        box-shadow: rgba(0,0,0,0.1) 0px 4px 12px;

        padding : 1rem 1.5rem;
    }

    .list {
        display:flex;
        flex-direction: column;
        justify-content: center;
        gap:1rem;

        ul {
            height: 70%;
        }

        .buttons {
            display: flex;
            justify-content: space-between;
            width: 90%;

            button {
                font-size: 1rem;
                box-shadow: rgba(0,0,0,0.1) 0px 4px 12px;
            }
        }
    }
}